<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   hello how r u  i am the index view
  <% data.forEach(u=>{ %>
  <li><%= u.name %></li> 
  <% }) %>
    <button > <a href="/addLanguages"/>AddMore languages </button>
</body>
</html>