<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <form action="/signup" method="post">
        <label>Name</label>
        <textarea id="name" name="name"></textarea>
        
        <label>Email</label>
        <textarea id="email" name="email"></textarea>
        
        <label>Password</label>
        <textarea id="password" name="password"></textarea>
        
        <button type="submit">Signup</button>
    </form>
</body>
</html>
